.blog-section {
    margin: 4rem 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #def2f1;
    font-family: $primary-font;
}

.blog-section-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 20px;

}

.blog-section-container a {
    color: #17252a;
}

.blog-section-container .container-box {
    position: relative;
    padding: 70px 10px 40px;
    transition: 0.5s;
    text-align: center;
    background: #3aafa9;
}

.blog-section-container .container-box:hover {
    background: #feffff;
}

.blog-section-container .container-box p {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-size: .7rem;
    text-align: justify;
}

.blog-section-container .container-box h4 {
    margin: 20px 0 0;
    padding: 0;
    transition: 0.5s;
    font-size: .9rem;
    color: #66fcf1;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.blog-section-container .container-box h4 span {
    font-weight: 600;
    font-size: 14px;
    color: #272727;
    transition: 0.5s;
}

.blog-section-container .container-box:active p,
.blog-section-container .container-box:active h4,
.blog-section-container .container-box:active h4 span {
    color: #17252a;
}

.blog-section-container .container-box .image-box {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.blog-section-container .container-box .image-box .avatar {
    width: 100%;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.blog-section-container .container-box .image-box .avatar:hover {
    transform: rotate(720deg) scale(1, 1);
    opacity: 1;

}

.blog-section-container .container-box:before {
    content: '';
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: url(../docs/quote.png);
    background-size: cover;
    opacity: 0.03;
    pointer-events: none;
    transition: 0.5s;
}

.blog-section-container .container-box:hover:before {
    transform: translateY(-60px);
    opacity: 1;
}

.blog-section-container .container-box:after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 40px;
    height: 40px;
    background: url(../docs/quote.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
    transform: rotate(180deg) translateY(0px);
    z-index: 1;
}

.blog-section-container .container-box:hover:after {
    transform: rotate(180deg) translateY(-60px);
    opacity: 1;
}

@media (max-width: 700px) {
    .blog-section-container .container-box {
        margin-top: 30px;
    }
}