.contact-section {
  margin: 6rem 0;
  padding: 4rem 0 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3aafa9;

}

.container-contact {
  width: 80%;
  padding: 20px;
}

.container-contact .container-contact-row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
}

.container-contact .container-contact-row .container-contact-col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container-contact .container-contact-row .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #feffff;

}

.container-contact .container-contact-row .input-box input,
.container-contact .container-contact-row .input-box.text-area textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: .8rem;
  padding: 0 10px;
  z-index: 1;
  color: #17252a;
}

.container-contact .container-contact-row .input-box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: .9rem;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container-contact .container-contact-row .input-box input:focus+.text,
.container-contact .container-contact-row .input-box input:valid+.text {
  top: -35px;
  left: -10px;
}

.container-contact .container-contact-row .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 97%;
  height: 2px;
  background: #feffff;
  transition: .5s;
  border-radius: 2px;
  pointer-events: none;

}

.container-contact .container-contact-row .input-box input:focus~.line,
.container-contact .container-contact-row .input-box input:valid~.line {
  height: 100%;
}

.container-contact .container-contact-row .input-box.text-area {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container-contact .container-contact-row .input-box.text-area textarea {
  height: 100%;
  resize: none;
}

.container-contact .container-contact-row .input-box textarea:focus+.text,
.container-contact .container-contact-row .input-box textarea:valid+.text {
  top: -35px;
  left: -10px;

}

.container-contact .container-contact-row .input-box textarea:focus~.line,
.container-contact .container-contact-row .input-box textarea:valid~.line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 9px 35px;
  cursor: pointer;
  outline: none;
  background: #feffff;
  color: #17252a;
  font-size: .9rem;
  border-radius: 2px;
}

@media(max-width: 700px) {
  .contact-section {
    margin: 0 1rem;

  }
}