// body {
//     margin: 0;
//     padding: 0;
//     height: 100vh;
//     font-family: $primary-font, sans-serif;
//     background-size: cover;
//     background-position: center;
//     background: linear-gradient(#fff 50%, #2196f3);
//     color: #fff;
//     font-size: 1.1em;
// }



#intro-section {

    color: #333;
    padding-bottom: 2em;
    background: linear-gradient(#fff 50%, #2196f3);
    height: 100vh;
}

.profile:nth-child(0) {
    border: chartreuse;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    padding: 8rem 2rem;

}

.profile-pic {
    width: 80%;
    border-radius: 50%;

}


#intro-section .content-text p {
    text-align: justify;
    //     padding: 1em;
    //     font-family: $primary-font;
    //     font-style: italic;
    //     font-size: 1rem;
    //     line-height: 2.3;
}

// #intro-section h1 {
//     padding-left: 3rem;
// }

// @media(max-width: 768px) {
//     .profile {
//         flex-direction: column;
//         padding-top: 2rem;
//     }

//     #intro-section h1 {
//         text-align: center;
//         padding: 1rem 0;
//     }

//     .profile-pic {
//         width: 50%;
//     }

//     #intro-section .content-text p {
//         line-height: 1.5;
//     }

//     header ul {
//         display: block;
//     }

//     header ul li {
//         display: block;
//     }

//     header ul li ul {
//         width: 100%;
//         z-index: 1;
//     }
// }