#intro-section {

    color: #333;
    padding-bottom: 2em;
    background: linear-gradient(#fff 50%, #2196f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

}

.profile-pic {
    width: 70%;
    border-radius: 50%;
    opacity: .9;
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text p {
    text-align: justify;
    padding: 1em;
    font-family: $primary-font;
    font-style: italic;
    font-size: .7rem;
    font-weight: 900;
}

@media(max-width: 768px) {
    .profile {
        flex-direction: column;
        padding-top: 2rem;
    }

    #intro-section h1 {
        text-align: center;
        padding: 1rem 0;
    }

    .profile-pic {
        width: 40%;
    }

    #intro-section .content-text p {
        line-height: 1.5;
    }

    header ul {
        display: block;
    }

    header ul li {
        display: block;
    }

    header ul li ul {
        width: 100%;
        z-index: 1;
    }
}