#project-section {
    box-sizing: border-box;
    color: #feffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $primary-font;
    background: #3aafa9;
    margin: 6rem 0 0;

}

.project-container {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    margin: 5.4rem 0;
}

.project-container .project-card {
    position: relative;
    width: 180px;
    height: 280px;
    display: flex;
    background: #17252a;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 1rem;
    margin: 1rem;

}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.project-container:hover .project-card {
    filter: blur(5px);
    transform: scale(.7);
}

.project-container .project-card:hover {
    filter: blur(0px);
    transform: scale(1);
}

.project-container .project-card:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #17252a;
    z-index: -1;
    transition: 0.5s;

}

.project-container .project-card:hover:before {
    background: #feffff;
    transform: scaleY(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);

}

.project-container .project-card .project-content {
    text-align: center;
    z-index: 0;
    padding: 10px 20px;
    transition: 0.5s;

}

.project-container .project-card:hover .project-content {
    color: #17252a;
}

.project-container .project-card .project-content h2 {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.project-container .project-card .project-content p {
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}

.project-container .project-card .project-content a {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #feffff;
    color: #17252a;
    text-decoration: none;
    font-size: .7rem;
}

.project-container .project-card:hover .project-content a {
    background: #3aafa9;
}


.terminal,
.portfolio {
    width: 70px;
}

@media(max-width: 700px) {
    .project-container {
        flex-direction: column;
    }

    #project-section {
        margin: 0;
    }
}