#skills-section {
    padding: 1em;

}

#skills-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#skills-section li {
    margin: 1em;
    background: #FDFDFD;
    color: #393e46;
    font-family: $primary-font;
}

.card-content {
    padding: 1em;
}

#skills-section h2 {
    font-family: $primary-font;
    font-size: 2.5em;

}

.card h3 {
    font-family: $primary-font;
    font-weight: bolder;
    font-size: 1.5em;
}