// $hamburger-primary-color: rgba(13, 110, 139, 0.55);
// $hamburger-overlay-color: rgba(24, 39, 51, 0.85);
// $hamburger-toggle-speed: 0.65s;
$main-header-font:'Sacramento',
cursive;
$primary-font:'Montserrat',
sans-serif;
$secondary-font:'Merriweather',
serif;