$primary-font:'Montserrat',
sans-serif;
$secondary-font:'Josefin Sans',
sans-serif;
$primary-background-color:#3aafa9;
$primary-black-color:#17252a;
$primary-white-color:#feffff;
$secondary-white-color:#def2f1;
$skills-bg-color:#0fffb7;
$menu-bg-color:#2b7a78;
$linear_color1: linear-gradient(45deg, #1fe6ff, #673ab7);
$linear_color2: linear-gradient(45deg, #3bc0ff, #33ff00);
$linear_color3: linear-gradient(45deg, #ffee54, #ff00ca);
$linear_color4: linear-gradient(45deg, #22ffde, #2196f3);