@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'PT Sans Narrow', sans-serif;
}

.expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 3;
}

.expand .stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: expand 1s ease-in-out forwards;
}

.expand .stack:nth-child(1) {
    background: #000;
    z-index: 2;
}

.expand .stack:nth-child(2) {
    background: gray;
    animation-delay: 1s;
    z-index: 1;
}

@keyframes expand {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.splash-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 700px;
}

.splash-text h2,
.splash-text h3 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform-origin: left;
    text-transform: uppercase;
    transform: scaleX(0);
    animation: show-text-reverse 1s ease-in-out forwards;
}

.splash-text h2 {
    font-size: 6em;
    animation-delay: 2s;
}

.splash-text h3 {
    font-size: 3em;
    animation-delay: 3s;
}

.splash-text h2:before,
.splash-text h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: show-text 1s ease-in-out forwards;
    animation-delay: 3s;
}

.splash-text h3:before {
    animation-delay: 4s;
}

@keyframes show-text {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes show-text-reverse {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.splash-text p {
    opacity: 0;
    font-weight: 400;
    font-size: 1.2em;
    animation: inside-fade 1s linear forwards;
    animation-delay: 5s;
}

@keyframes inside-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* This is the button */
.splash-text a {
    opacity: 0;
    display: inline-block;
    margin: 20px 0 0;
    padding: 10px 20px;
    background: #000;
    color: #fdfdfd;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    animation: bottom-fade 0.5s linear forwards;
    animation-delay: 5.5s;
    border-radius: 2rem;
}



@keyframes bottom-fade {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }

    100% {
        transform: translateY(50px);
        opacity: 1;
    }
}

.social-media {
    position: absolute;
    bottom: 35px;
    right: 30px;
    display: flex;
    flex-direction: column;
}

.social-media li {
    opacity: 0;
    list-style: none;
    padding: 10px 0;
    text-align: center;
    animation: bottom-fade 0.5s linear forwards;
}


.social-media li:nth-child(1) {
    animation-delay: 5s;
}


.social-media li:nth-child(2) {
    animation-delay: 5.25s;
}


.social-media li:nth-child(3) {
    animation-delay: 5.5s;
}


.social-media li:nth-child(4) {
    animation-delay: 5.75s;
}


.social-media li a {
    font-size: 1.2em;
    color: #000;
}


.component1 {
    opacity: 0;
    position: absolute;
    bottom: -150px;
    right: 40%;
    width: 250px;
    height: 250px;
    border: 20px solid #000;
    animation: rotate 40s linear infinite, inside-fade 1s linear forwards;
    animation-delay: 7s;
}

.component2 {
    opacity: 0;
    position: absolute;
    left: -10px;
    top: 40%;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    animation: rotate 30s linear infinite, inside-fade 1s linear forwards;
    animation-delay: 7s;
}

.component3 {
    opacity: 0;
    position: absolute;
    right: -10px;
    bottom: 40%;
    width: 50px;
    height: 50px;
    border: 10px solid #000;
    animation: rotate 25s linear infinite, inside-fade 1s linear forwards;
    animation-delay: 7s;
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-github:hover {
    color: #45e19f;
}