@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #222831;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 35%;
  height: auto;
  margin: auto;
  padding: 1.5em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.showcase {
  background-color: rgba(13, 110, 139, 0.55);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url(../docs/main.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #FDFDFD;
}

.showcase h2 {
  font-size: 1.3rem;
  font-family: "Merriweather", serif;
  padding-bottom: 2em;
}

.btn {
  display: inline-block;
  border-radius: 2rem;
  color: #eee;
  text-decoration: none;
  padding: 1em 2em;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #445ae3;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#intro-section {
  color: #333;
  padding-bottom: 2em;
  background: #FDFDFD;
}

.profile-pic {
  width: 35%;
  border-radius: 50%;
  padding-bottom: 2em;
}

#intro-section .content-text p {
  text-align: justify;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

#skills-section {
  padding: 2em 2em 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#skills-section li {
  margin: 1em;
  background: #FDFDFD;
  color: #393e46;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.card-content {
  padding: 1em;
}

#skills-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}

.content-title {
  padding-top: 4rem;
}

#skills-section li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#project-section {
  background: #fdfdfd;
  color: #393e46;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.terminal,
.portfolio {
  width: 30%;
}

#project-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
}

.contact-me {
  margin: 0;
  padding: 0;
}

#contact-section .contact-me {
  margin-top: 2rem;
}

.contact {
  background: url(../docs/contactbg.jpeg) no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-sizing: 0 0 20px #000000b3;
          box-sizing: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;
}

.contact h2 {
  font-weight: 200;
}

.txt {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txt label {
  display: block;
  text-align: left;
  color: #fdfdfd;
  text-transform: uppercase;
  font-size: 14px;
}

.txt input,
.txt textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
  color: #fdfdfd;
}

#main-footer {
  padding: 2em;
  background: #fdfdfd;
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#main-footer a {
  color: aqua;
  text-decoration: none;
  padding: 1rem;
}

.social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fa-facebook-square {
  color: #3b5999;
  font-size: 1.5rem;
}

.fa-twitter-square {
  color: #55acee;
  font-size: 1.5rem;
}

.fa-linkedin {
  color: #0072b1;
  font-size: 1.5rem;
}

.fa-github-square {
  color: #211F1F;
  font-size: 1.5rem;
}

.fa-envelope-square {
  color: #0072c6;
  font-size: 1.5rem;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-linkedin:hover,
.fa-github-square:hover,
.fa-envelope-square:hover {
  color: #45e19f;
}

@media (min-width: 700px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (minmax(auto, 25em))[2] 1fr;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #intro-section .content-text {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
  #intro-section .content-text p {
    padding-top: 0;
  }
  .content-wrap,
  #skills-section ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .box,
  #main-footer div {
    grid-column: span 2;
  }
  #skills-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #skills-section li {
    width: 30%;
  }
  #skills-section h2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.menu-wrap .hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  background: rgba(13, 110, 139, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .hamburger-menu > div {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger-menu > div:before,
.menu-wrap .hamburger-menu > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 1px;
  background: #fff;
}

.menu-wrap .hamburger-menu > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger-menu > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger-menu > div:before,
.menu-wrap .toggler:checked + .hamburger-menu > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger-menu > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.65s;
          transition-duration: 0.65s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(24, 39, 51, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Merriweather", serif;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@-webkit-keyframes line-animation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes line-animation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.menu-wrap .toggler:not(:checked):hover + .hamburger-menu > div::before {
  -webkit-animation: line-animation 0.3s linear 0.1s;
          animation: line-animation 0.3s linear 0.1s;
}

.menu-wrap .toggler:not(:checked):hover + .hamburger-menu > div {
  -webkit-animation: line-animation 0.6s linear 0.06s;
          animation: line-animation 0.6s linear 0.06s;
}

.menu-wrap .toggler:not(:checked):hover + .hamburger-menu > div::after {
  -webkit-animation: line-animation 0.3s linear 0.3s;
          animation: line-animation 0.3s linear 0.3s;
}

#contact-section .box:nth-child(2) {
  margin: 0;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.card .about {
  text-align: justify;
  padding: 1.2em;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-wrapper .card {
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.card-wrapper .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card .card-img {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 24% 97%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 24% 97%, 50% 75%, 0% 75%);
}

.profile-image {
  border-radius: 50%;
}
/*# sourceMappingURL=styles.css.map */