@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap");
/* This is the menu bar */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
header {
  width: 100%;
  background: #17252a;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header ul li {
  list-style: none;
  position: relative;
  padding: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header ul li:hover {
  background: #2b7a78;
}

header ul li:last-child {
  border-right: none;
}

header ul li a {
  text-decoration: none;
  padding: 0 20px;
  color: #feffff;
}

header ul li ul {
  position: absolute;
  top: 44px;
  left: 0;
  background: #17252a;
  display: block;
  width: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

header ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header ul li ul li {
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 35%;
  height: auto;
  margin: auto;
  padding: 1.5em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  border-radius: 2rem;
  color: #fdfdfd;
  text-decoration: none;
  padding: 1em 2em;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: .6rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #445ae3;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#intro-section {
  color: #feffff;
  padding-bottom: 2em;
  background: #3aafa9;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.profile-pic {
  width: 70%;
  border-radius: 50%;
  opacity: .9;
}

.content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-text p {
  text-align: justify;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: .7rem;
  font-weight: bold;
  color: #17225a;
}

@media (max-width: 768px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2rem;
  }
  #intro-section h1 {
    text-align: center;
    padding: 1rem 0;
  }
  .profile-pic {
    width: 40%;
  }
  #intro-section .content-text p {
    line-height: 1.5;
  }
  header ul {
    display: block;
  }
  header ul li {
    display: block;
  }
  header ul li ul {
    width: 100%;
    z-index: 1;
  }
}

.center {
  width: 50%;
  position: relative;
  padding: 20px;
  background: #17252a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.center h1 {
  margin: 0;
  padding: 0;
  color: #feffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
}

.skills-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: rem 2rem;
  margin-top: 1rem;
  background: #3aafa9;
}

.skills-section div:nth-child(2) {
  margin: 2rem 0;
}

.skills-section div:nth-child(2) h1,
.skills-section div:nth-child(3) h1 {
  color: #feffff;
}

.skillBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.skillBox p {
  color: #feffff;
  text-transform: uppercase;
  margin: 0 0 8px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: .6rem;
}

.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #262626;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 2px;
}

.skill_level {
  background: #0fffb7;
  width: 100%;
  height: 3px;
}

@media (min-width: 768px) {
  .skills-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .center {
    margin: 8rem 2rem;
    width: 20%;
    padding: 1rem;
    height: 365px;
  }
}

#project-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(#2196f3));
  background: linear-gradient(#fff 50%, #2196f3);
}

.project-container {
  max-width: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-container .project-card {
  position: relative;
  width: 350px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fdfdfd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 10px;
}

.project-container:hover .project-card {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.project-container .project-card:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project-container .project-card:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-container .project-card:hover:before {
  background: #000;
  -webkit-transform: scaleY(1.15);
          transform: scaleY(1.15);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-container .project-card .project-content {
  text-align: center;
  z-index: 0;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-container .project-card:hover .project-content {
  color: #fdfdfd;
}

.project-container .project-card .project-content h2 {
  font-size: .9rem;
}

.project-container .project-card .project-content p {
  font-size: .9rem;
}

.project-container .project-card .project-content a {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 10px;
  background: #262626;
  color: #fdfdfd;
  text-decoration: none;
}

.project-container .project-card:hover .project-content a {
  background: #2196f3;
}

.terminal,
.portfolio {
  width: 30%;
}

#project-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  padding-top: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.input-field {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #666;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
  resize: none;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label {
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #ff006a;
  color: #fff;
  border-radius: 4px;
}

.btn {
  margin-top: 20px;
  background: #ff006a;
  color: #fff;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  float: right;
}

.btn:hover {
  background: #6b3aff;
}

#main-footer {
  padding: 2em;
  background: #def2f1;
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#main-footer a {
  color: aqua;
  text-decoration: none;
  padding: 1em;
}

.social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fa-facebook-square {
  color: #3b5999;
  font-size: 1.5rem;
}

.fa-twitter-square {
  color: #55acee;
  font-size: 1.5rem;
}

.fa-linkedin {
  color: #0072b1;
  font-size: 1.5rem;
}

.fa-github-square {
  color: #211F1F;
  font-size: 1.5rem;
}

.fa-envelope-square {
  color: #0072c6;
  font-size: 1.5rem;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-linkedin:hover,
.fa-github-square:hover,
.fa-envelope-square:hover {
  color: #3aafa9;
}
/*# sourceMappingURL=styles.css.map */